@charset "UTF-8";

body{
  background-color: #D0E0C0;
}

#main{
  width: 798px;
  margin: 40px auto;
  padding: 40px 80px;
  border: #008000 1px solid;
  background-color: #ffffff;
}

.photo{
  float: left;
  margin-right: 30px;
}

.curry_picture:after{
  content: "";
  clear: both;
  display: block;
}

.explanation{
    float: left;
    wisth: 300px;
}

dt{
    clear: left;
    float: left;
    font-weight: bold;
}

.btn{
  -webkit-appearance: none;
  -webkit-border-radius: 0;
  margin: 5px;
  width: 100px;
  height: 40px;
  padding: 10px;
  border: none;
  font-size: 16px;
}

.btn:hover{
  opacity: 0.7;
}

.btn:active{
  color: #ffffff;
}

.btn-submit{
  background-color: #c0c0c0;
}

.btn-reset{
  background-color: #f08080;
}

#ingredient{
  clear: left;
  border: 2px solid #f08080;
  border-collapse: collapse;
}

th, td{
  border: 1px solid #f08080;
}
